<div class="container pt-3">
  <div class="card-container" style="width: 18rem;">
    <div class="card" style="width: 24rem;">
      <h1>This is your score!</h1>
      <h2><%= @message %></h2>
      <h2><%= @score %></h2>
      <%= link_to 'new game', new_path, class: "btn btn-primary btn-block" %>
    </div>
  </div>
</div>
