/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

body {
  background-color: #2f4353;
  background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
  background-repeat: no-repeat;
  height: 100vh;
}
.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 50px;
}
.card {
  box-shadow: 1px 2px lightgray;
  padding: 8px 16px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.letters {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 16px;
  margin: 8px;
  justify-content: center;
}
.letters button {
  margin: 2px;
  width: 64px;
}

